{#
/**
 * @file
 * Default theme implementation for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('core/components.ui_suite_bootstrap--accordion') }}
{% set accordion_id = 'accordion--' ~ random() %}
{% set accordion_item_id = 'heading--' ~ accordion_id %}
{% set accordion_attributes = create_attribute(accordion_attributes|default({})) %}
{% set accordion_attributes = accordion_attributes.addClass('accordion').setAttribute('id', accordion_id) %}
{%
  set summary_classes = [
    required ? 'js-form-required',
    required ? 'form-required',
    'accordion-header',
  ]
%}
{%
  set button_attributes = create_attribute({
    'class': [
      'accordion-button',
      'collapsed',
      'gap-1',
    ],
    'type': 'button',
    'data-bs-toggle': 'collapse',
    'data-bs-target': '#' ~ accordion_item_id,
    'aria-controls': accordion_item_id,
    'aria-expanded': 'false',
  })
%}
{%
  set content_attributes = create_attribute({
    'id': accordion_item_id,
    'class': [
      'accordion-collapse',
      'collapse',
    ],
    'aria-labelledby': 'heading--' ~ accordion_item_id,
    'data-bs-parent': '#' ~ accordion_id,
  })
%}
{% if attributes.hasAttribute('open') %}
  {% set button_attributes = button_attributes.setAttribute('aria-expanded', 'true') %}
  {% set button_attributes = button_attributes.removeClass('collapsed') %}
  {% set content_attributes = content_attributes.addClass('show') %}
{% endif %}

{%
  set description_classes = [
    'description',
    'form-text',
  ]
%}
{% set description_attributes = create_attribute(description_attributes|default({})) %}

<div{{ accordion_attributes }}>
  <div{{ attributes.addClass('accordion-item') }}>
    {%- if title -%}
      <h2{{ summary_attributes.addClass(summary_classes).setAttribute('id', 'heading--' ~ accordion_item_id) }}>
        <button{{ button_attributes }}>
          {{- title -}}
          {%- if required -%}
            <span class="required-mark"></span>
          {%- endif -%}
        </button>
      </h2>
    {%- endif -%}

    <div{{ content_attributes }}>
      <div class="accordion-body">
        {% if description %}
          <div{{ description_attributes.addClass(description_classes) }}>
            {{ description }}
          </div>
        {% endif %}

        {{ children }}
        {{ value }}

        {% if errors %}
          {#
          Bootstrap 5 expects direct parent of error wrapper to have the
          is-invalid class. Currently hard or almost impossible to add it in
          other preprocess on the children variable.
          #}
          <div class="is-invalid"></div>
          <div{{ errors_attributes }}>
            {{ errors }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
